#taget_self{
    background-color: white;
}

input, select{
    border-radius: 72px !important;
    border: 1px solid var(--Neutral-03, #DBDFD0) !important;
    background: var(--Neutral-01, #FFF) !important;
    display: flex !important;
    height: 60px !important;
    padding: 0px 24px !important;
    align-items: center !important;
    gap: 10px !important;
    margin-right: 10px !important;
    box-sizing: border-box !important;
    
}
.modal-content{
    display: inline-flex !important;
    width:120% !important;
    padding: 40px;
    flex-direction: column !important;
    gap: 22px !important;
    border-radius: 16px !important;
    background: var(--Neutral-01, #FFF) !important;
    box-sizing: border-box !important;
    /* 2 */
    
}